<!DOCTYPE html>
<html lang="en">
 
<head>
  
  <title>piggybank</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
<!-- Sandstone theme --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="/navbar.css"> 
<link rel="stylesheet" media="portrait" href="/portrait.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   
 
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home"><img alt="Brand" width="55" height="55" src="/Myimages/Piggy bank_logo_transparentbckgrd.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav navbar-right">

 <% if user_signed_in? %>
        <li><a href="/profile/:userid">My piggybank</a></li> 
        <li><%= link_to 'Expenses', transactions_path(current_user) %></li>
        <!-- new update path %= link_to 'Savings', new_update_path %></li> -->
        <li><%= link_to 'Savings', pictures_path(current_user) %></li>
        <!-- <li>%= link_to 'Expenses', new_budget_path %></li> -->
        <li><a href="/expenses">Expenses tracker</a></li>    
        <li><%= link_to 'Log out', destroy_user_session_path, :method=>:delete %></li>
  <%else%>
        <li><%= link_to 'Log in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <!-- <li><a href="/blog">Blog</a></li> -->
  <%end%>
        </ul>   
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
</head>

<!-------------------------------------------NAVBAR END------------------------------------------------------>
  
<body>
  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
<!-- Sandstone theme --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="/navbar.css">
<link rel="stylesheet" href="/homepage.css"> 
<link rel="stylesheet" media="all and (orientation:portrait)" href="/portrait.css">
<link rel="stylesheet" media="all and (orientation:portrait)" href="/vid-responsive.css">
  
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
<div class="jumbotron">
  <div class="container-fluid">
    <div class="row-fluid">
    <div class="col-xs-0 col-md-1"></div>
    <div class="col-xs-12 col-md-6">
      <div id="heading">
        Saving made sexy</div>
      </div>
      <div class="col-xs-12 col-md-4">
      <img width="400" height="430"src="/Myimages/Piggybank_sunglasses_2.png" class="img-responsive center-block" alt="Responsive image">
      </div>
    <div class="col-xs-0 col-md-1"></div>
</div>
</div>
</div>
 
<div id="purple">
  <div class="container-fluid">   
     <div class="row-fluid">
        
        <div class="col-md-6">
          <div align="center">
           <div id="teaser"><div style="margin-top:180px">    
             Tracking your finances has just become gamable
             </div></div>           
              </div>
            </div>
       
        <div class="col-md-6">
         <div class="videoWrapper">
      <iframe width="560" height="315" style="margin-top:110px; margin-left:10px" src="https://www.youtube.com/embed/VZuseNTXpos" frameborder="0" allowfullscreen></iframe>
          </div>
    </div>
       </div>
       
    </div>
    </div>
   </div>
  
 <div class="jumbotron">
  <div class="container-fluid">
    
    <div class="row-fluid">
      
    <div class="col-md-4">
      <div align="center">
      <h2>NO BBS<br>(Boring Bank Statements)</h2><br>
      <img width="430" height="380" src="/Myimages/bank statement_test2.png" class="img-responsive center-block" alt="Responsive image">
      </div>
      </div>
    <div class="col-md-4">  
      <div align="center">
      <h2>Visuals make<br>budgeting fun</h2><br>
      <img width="215" height="350" src="/Myimages/screenshot.png" class="img-responsive center-block" alt="Responsive image">
      </div>
      </div>
      <div class="col-md-4"> 
        <div align="center">
      <h2>Set targets for yourself,<br>the sky is the limit!</h2><br>
      <img width="420" height="365" src="/Myimages/flight_test.png" class="img-responsive center-block" alt="Responsive image">
      </div>
      </div>
    
    </div>
   </div>
  </div>
      
</body>
</html>