<p id="notice"><%= notice %></p>

<h1>Listing Weeklyicons</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Weekly expenses</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weeklyicons.each do |weeklyicon| %>
      <tr>
        <td><%= weeklyicon.user_id %></td>
        <td><%= weeklyicon.weekly_expenses %></td>
        <td><%= link_to 'Show', weeklyicon %></td>
        <td><%= link_to 'Edit', edit_weeklyicon_path(weeklyicon) %></td>
        <td><%= link_to 'Destroy', weeklyicon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weeklyicon', new_weeklyicon_path %>
