<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price, 'How much was it?' %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
  <%= f.hidden_field :user_id, :value =>current_user.id %>
  </div>
  <div class="field">
  <%= f.hidden_field :icon_id, :value =>@icon.id %>
  </div>
<p>
  <div class="actions">
    <%= f.submit 'Add', :class => 'btn btn-default' %>
    <a class="btn btn-default" href="/expenses" role="button">Back</a>
  </div>
<% end %>
