<html>
  
<div class="jumbotron">
</div>

<p id="notice"><%= notice %></p>

<strong>Category:</strong>
<%= @transaction.icon.title %>

<p>
  <%= image_tag(@transaction.icon.image.url(:medium)) %>
</p>

<p>
  <strong>Price:</strong>
  <%= @transaction.price %>
</p>

<h5><a href="/expenses">Add more</a> / <%= link_to 'Check my expenses', transactions_path(current_user) %></h5>

</html>
