<!DOCTYPE html>

<html>
  
<head>
  <title>piggybank</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %> 
</head>
  
<body>
  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
<!-- Sandstone theme --> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="/navbarpb.css">
<link rel="stylesheet" href="/appli.css">  
<link rel="stylesheet" media="portrait" href="/portrait.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   
 
<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="/home"><img alt="Brand" width="150" height="55" src="/Myimages/homepage/Piggy bank_logo_beta_big.png"></a></div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

 <% if user_signed_in? %>
        <li><a href="/profile/:userid">profile</a></li>       
        <li><a href="/expenses">tracker</a></li> 
        <li><%= link_to 'stats', transactions_path(current_user) %></li>
        <li><%= link_to 'log out', destroy_user_session_path, :method=>:delete %></li>
         <li><a class="btn btn-default" href="mailto:pimpmypiggybank@gmail.com" role="button">
         <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>
  <%else%>
        <li><%= link_to 'log in', new_user_session_path %></li>
        <li><%= link_to 'sign up', new_user_registration_path %></li>
       <li><a href="mailto:pimpmypiggybank@gmail.com">Contact us</a></li>
        <!-- <li><a href="/blog">Blog</a></li> -->
  <%end%>
        </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
<div class="container">
 <%= yield %>
</div>
  
</body>
</html>